In [7]:
print('hi')

hi

In [1]:
print('Cristina')

Cristina

In [2]:
print('Hello')

Hello

In [3]:
2+1

3

In [4]:
7 / 4

1.75

In [5]:
50 % 5

0

In [6]:
23 % 2

1

In [7]:
2**3

8

In [8]:
2*3

6

In [9]:
2***3

SyntaxError: invalid syntax (<ipython-input-9-6b1f253a49d9>, line 1)

In [10]:
6**6

46656

In [11]:
6*6

36

In [12]:
6+6+6+6+6+6

36

In [13]:
1/0

ZeroDivisionError: division by zero

In [14]:
1 / 2

0.5

In [15]:
a = 5

In [16]:
a

5

In [17]:
a = 10

In [18]:
a

10

In [19]:
a + a

20

In [25]:
a = a + a

In [26]:
a

80

In [27]:
type(a)

int

In [28]:
a = 30.1

In [29]:
type(a)

float

In [34]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [35]:
my_taxes

10.0

In [36]:
"Hello"

'Hello'

In [37]:
'helo'

'helo'

In [39]:
"I' am going on a run"

"I' am going on a run"

In [40]:
print ('hello')

hello

In [44]:
print ('Hello \tWorld')

Hello 	World

In [45]:
len('Hello')

5

In [46]:
len(' I am')

5

In [47]:
mystring = "Hello World"

In [48]:
mystring

'Hello World'

In [49]:
mystring[0]

'H'

In [50]:
mystring[8]

'r'

In [51]:
mystring[9]

'l'

In [52]:
mystring

'Hello World'

In [53]:
mystring[-2]

'l'

In [54]:
mystring[-1]

'd'

In [55]:
mystring[-3]

'r'

In [57]:
mystring = 'abcdefghijk'

In [58]:
mystring

'abcdefghijk'

In [59]:
mystring[2:]

'cdefghijk'

In [60]:
mystring[:3]

'abc'

In [61]:
mystring[3:6]

'def'

In [62]:
mystring[1:3]

'bc'

In [69]:
mystring[2:7]

'cdefg'

In [70]:
mystring[::-1]

'kjihgfedcba'

In [71]:
mystring = "Hello World"

In [72]:
mystring

'Hello World'

In [73]:
mystring[8]

'r'

In [75]:
'Hello World'[8]

'r'

In [77]:
'tinker'[1:4]

'ink'

In [78]:
name = "Sam"

In [80]:
last_letters = name[1:]

In [81]:
last_letters

'am'

In [82]:
'P' + last_letters

'Pam'

In [83]:
x = "Hello World"

In [85]:
x + " it is beautiful outsite!"

'Hello World it is beautiful outsite!'

In [89]:
y = x +  " it is beautiful outside!"

In [90]:
y

'Hello World it is beautiful outside!'

In [91]:
print(y)

Hello World it is beautiful outside!

In [92]:
letter = 'z'

In [93]:
letter * 10

'zzzzzzzzzz'

In [1]:
#Method

In [2]:
x = "Hello World"

In [3]:
x.upper()

'HELLO WORLD'

In [4]:
x.lower()

'hello world'

In [5]:
x.split()

['Hello', 'World']

In [6]:
x = "Hi this is a string"

In [8]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [9]:
#string formatting for printing

In [10]:
print ("This is a string {}". format('INSERTED'))

This is a string INSERTED

In [12]:
print (" The {2} {1} {0}" . format ("fox", "brown", "quick"))

 The quick brown fox

In [14]:
# asign keyword
print ("The {q} {b} {f}".format(f="fox", b="brown", q="quick"))

The quick brown fox

In [15]:
#Foat fomatting & 
result = 100/777

In [16]:
result

0.1287001287001287

In [21]:
print("The result was {r:1.3f}" . format( r = result))

The result was 0.129

In [22]:
name = "Jose"

In [23]:
print(f"Hello, his name is {name}")

Hello, his name is Jose

In [26]:
name ="Cristina"
age = 28

In [27]:
print(f"My name is {name} and I am {age} years old")

My name is Cristina and I am 28 years old

In [28]:
#List in Python

In [32]:
my_list = [1,2,3]

In [33]:
my_list = ["string",100,23.2]

In [35]:
len(my_list)

3

In [36]:
mylist = [ "one", "two", "three"]

In [38]:
mylist[1:]

['two', 'three']

In [39]:
another_list = ["four", "five"]

In [40]:
newlist = mylist + another_list

In [41]:
newlist

['one', 'two', 'three', 'four', 'five']

In [42]:
newlist[0] = "ONE ALL CAPS"

In [43]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [44]:
newlist.append("six")

In [45]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [46]:
newlist.append("seven")

In [47]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [48]:
newlist.pop()

'seven'

In [49]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [51]:
popped_item = newlist.pop()

In [52]:
popped_item

'six'

In [53]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [54]:
newlist.pop(0)

'ONE ALL CAPS'

In [55]:
newlist

['two', 'three', 'four', 'five']

In [56]:
newlist = ["a", "e", "x", "b", "c"]
num_list = [4,1,8,3]

In [61]:
my_sorted_list = newlist.sort()

In [62]:
newlist

['a', 'b', 'c', 'e', 'x']

In [63]:
type(my_sorted_list)

NoneType

In [64]:
num_list.sort()

In [65]:
num_list

[1, 3, 4, 8]

In [66]:
#Revense method

In [67]:
num_list.reverse()

In [68]:
num_list

[8, 4, 3, 1]

In [70]:
list =[0,1,2]

In [71]:
list.pop()

2

In [72]:
list = ['a','b','c']

In [73]:
list [1:]

['b', 'c']

In [74]:
#Dictionaties: Objectes retrieved by key name.Unorded and can not be sorted
#List: Objects retrieved by location

In [76]:
mydict = {'key1':'value1','key2':'value2'}

In [77]:
mydict['key1']

'value1'

In [78]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [79]:
prices_lookup['apple']

2.99

In [81]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [85]:
d['k2'][2]

2

In [84]:
d['k3']['insideKey']

100

In [86]:
d = {'key':['a','b','c']}

In [89]:
d

{'key': ['a', 'b', 'c']}

In [92]:
mylist = d['key']

In [93]:
mylist

['a', 'b', 'c']

In [94]:
letter = mylist[2]

In [95]:
letter

'c'

In [96]:
letter.upper()

'C'

In [97]:
d['key'][2].upper()

'C'

In [98]:
d = {'k1':100,'k2':200}

In [99]:
d

{'k1': 100, 'k2': 200}

In [100]:
d['k3']=300

In [101]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [102]:
d['k1'] = 'New Value'

In [103]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [104]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [105]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [106]:
d.values()

dict_values([100, 200, 300])

In [107]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [108]:
#Tuples: Can not be mutated

In [109]:
t = (1,2,3)

In [110]:
mylist = [1,2,3]

In [111]:
type(t)

tuple

In [112]:
type(mylist)

list

In [113]:
t = ('one',2)

In [114]:
t[0]

'one'

In [115]:
t[-2]

'one'

In [116]:
t = ('a','a','b')

In [117]:
t.count('a')

2

In [118]:
t.index('a')

0

In [119]:
t

('a', 'a', 'b')

In [120]:
mylist

[1, 2, 3]

In [121]:
mylist[0]= 'New'

In [122]:
mylist

['New', 2, 3]

In [123]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [124]:
#Sets

In [125]:
myset = set()

In [126]:
myset.add(1)

In [127]:
myset

{1}

In [128]:
myset.add(2)

In [129]:
myset

{1, 2}

In [130]:
myset.add(2)

In [131]:
myset

{1, 2}

In [132]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3]

In [133]:
set(mylist)

{1, 2, 3}

In [134]:
#Boleans: Operators that alow you to convey TRUE or FALSE statement

In [135]:
True

True

In [137]:
type(True)

bool

In [138]:
1 > 2

False

In [139]:
1 == 1

True

In [140]:
b = None

In [141]:
b

In [142]:
type(b)

NoneType

In [143]:
#Files

In [144]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [145]:
myfile = open('myfile.txt')

In [146]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [147]:
pwd

'c:\\Users\\CristinaCampos\\Desktop\\PythonBootcamp\\Basic Python'

In [148]:
myfile = open('myfile.txt')

In [149]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [150]:
myfile.read()

''

In [151]:
myfile.seek(0)

0

In [152]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [153]:
myfile.seek(0)

0

In [154]:
contents = myfile.read()

In [155]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [157]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [158]:
myfile.readlines()

[]

In [159]:
myfile.seek(0)

0

In [160]:
content = myfile.readlines()

In [161]:
content

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [164]:
myfile.close()

In [166]:
with open ('myfile.txt') as my_new_file: 
    content = my_new_file.read()

In [167]:
content

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [169]:
with open ('myfile.text',mode='w') as myfile:
    content = myfile.read()

UnsupportedOperation: not readable

In [170]:

%%writefile mynewfile.txt
This is a file
one one first
two on second
three on third

Writing mynewfile.txt

NameError: name 'cwd' is not defined

In [172]:
pwd

'c:\\Users\\CristinaCampos\\Desktop\\PythonBootcamp\\Basic Python'

In [173]:
with open('mynewfile.txt',mode ='r') as f:
    print(f.read())

This is a file
one one first
two on second
three on third

In [175]:
with open('mynewfile.txt',mode ='a') as f:
    f.write('FOUR ON FOURTH')

In [176]:
with open('mynewfile.txt',mode ='r') as f:
    print(f.read())

This is a file
one one first
two on second
three on third
FOUR ON FOURTH