In [1]:
#Python Comparison Operators

In [2]:
2 == 2

True

In [3]:
2 == 4

False

In [5]:
'hello' == 'buy'

False

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [8]:
3 != 3

False

In [9]:
5 != 4

True

In [10]:
1 > 1

False

In [11]:
2 < 4

True

In [12]:
2 >= 2

True

In [13]:
4 <= 1

False

In [14]:
1 < 2

True

In [15]:
1 < 2 < 3

True

In [17]:
1 < 2 > 3

False

In [18]:
1 < 2 and 2 < 3

True

In [20]:
('h' == 'h') and (2 == 2)

True

In [21]:
1 == 1 or 2 == 2

True

In [22]:
1 == 1 or 2 == 3

True

In [23]:
100 == 1 or 2 == 4

False

In [24]:
1 == 1

True

In [25]:
not (1 == 1)

False

In [26]:
not 400 > 500

True

In [27]:
''' If, elif &  else statement
if some_condition:
elif do_something else
else:
    do something'''

In [33]:
hungry = True

if hungry:
    print('Feed me')
else: 
    print('I am not hungry')

Feed me

In [41]:
loc = 'Store'
if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Welcome to bank')
elif loc == 'Store':
    print ('Welcome to the store darling!')
else:
    print("I dont know much")

Welcome to the store darling!

In [43]:
name = 'Jose'

if name == 'Frankie':
    print ('Hello Frankie')

elif name == 'Sammy':
    print('How are you Sammy')

else:
    print("What's your name?")

What's your name?

In [44]:
#Loops:
# Iterable on list or dicctionary 
#Syntax
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

In [45]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [48]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [51]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [55]:
list_sum = 0 

for num in mylist:
    list_sum = list_sum + num
print (list_sum)

55

In [60]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [62]:
tup = (1,2,3,2,3,4)
for item in tup:
    print(item)

1
2
3
2
3
4

In [63]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [64]:
len(mylist)

4

In [65]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [67]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [68]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [69]:
for a,b,c in mylist:
    print(a)

1
4
7

In [70]:
for a,b,c in mylist:
    print (c)

3
6
9

In [76]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [78]:
#WHILE LOOPS
while some_boolean_condition:
    do something
else:
    do something diferent

In [83]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

X is not less than 5

In [84]:
# break: Breaks out of the current closest enclosing loop
# continue: Goes to the top of the closest enclosing loop
# pass: Does nothing at all

In [87]:
x = [1,2,3]

for item in x: 
    #Comment 
    pass
print('end of my script')

end of my script

In [88]:
mystring = 'Sammy'

In [94]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [95]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [99]:
x = 0 

while x < 5: 

    if x == 2:
        print(x)
    x +=1

2

In [100]:
#  Useful Operators

In [101]:
mylist = [1,2,3]

In [105]:
for num in range(0,11,2):
    print (num)

0
2
4
6
8
10

In [106]:
list(range(0,11,2))

range(0, 11, 2)

In [108]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [111]:
index_count = 0 
for letter in 'abcde':
    print('At index {} the leter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the leter is a
At index 1 the leter is b
At index 2 the leter is c
At index 3 the leter is d
At index 4 the leter is e

In [112]:
index_count = 0 
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [113]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [115]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [ ]:
#ZIP function

In [121]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [117]:
zip(mylist1,mylist2)

In [122]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [128]:
 list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [130]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)

1
2
3

In [131]:
'x' in [1,2,3]

False

In [132]:
'x' in ['x','y','z']

True

In [133]:
'mykey' in {'mykey':345}

True

In [134]:
d = {'mykey':345}

In [136]:
345 in d.items()

False

In [138]:
mylist = [10,20,30,40,50]

In [139]:
min(mylist)

10

In [140]:
max(mylist)

50

In [141]:
#Import from a library

In [142]:
from random import shuffle

In [143]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [144]:
shuffle(mylist)

In [145]:
mylist

[10, 8, 3, 2, 4, 6, 1, 9, 7, 5]

In [146]:
from random import randint

In [148]:
randint(0,100)

67

In [149]:
mynum = randint(0,10)

In [150]:
mynum

9

In [151]:
input('Enter a number here:')

'50'

In [152]:
result = input('Whats is your name? ')

In [153]:
result

'Cristina'

In [159]:
age_result = int(input('Whats is your age? '))

In [155]:
age_result

'28'

In [156]:
type(age_result)

str

In [157]:
float(age_result)

28.0

In [158]:
int(age_result)

28

In [160]:
age_result

40

In [161]:
type(age_result)

int

In [162]:
#LIST COMPREEHENSIONS

In [168]:
mystring = 'hello'

In [169]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [170]:
mylist

['h', 'e', 'l', 'l', 'o']

In [171]:
mylist = [letter for letter in mystring]

In [172]:
mylist

['h', 'e', 'l', 'l', 'o']

In [174]:
mylist = [x for x in 'word']

In [176]:
mylist[2]

'r'

In [181]:
mylist = [num**2 for num in range(0,11)]

In [182]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [193]:
mylist = [x**3 for x in range (0,11) if x%2 == 0]

In [194]:
mylist

[0, 8, 64, 216, 512, 1000]

In [198]:
celcius = [10,20,34.5]

fahrenheit = [((9/5*temp) + 32) for temp in celcius]

In [199]:
fahrenheit

[50.0, 68.0, 94.1]

In [205]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [206]:
fahrenheit

[50.0, 68.0, 94.1]

In [207]:
results = [x if x%2 == 0 else 'OOD' for x in range(0,11)]

In [209]:
results

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD', 10]

In [210]:
#nested Loop

In [211]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [212]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [213]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [214]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [215]:
#Method & Build in objects

In [216]:
mylist = [1,2,3]

In [217]:
mylist.append(4)

In [218]:
mylist.pop()

4

In [219]:
mylist

[1, 2, 3]

In [220]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [221]:
#Functions: allow us to create code that can be executed multiple times.

In [224]:
def name_of_function():
    '''Docsstring explains function
    '''
    print('Hello')

In [225]:
def name_of_function(num1,num2):
   return num1 + num2

In [228]:
def say_hello():
    print("hello")
    print('how')
    print('are')

In [229]:
say_hello()

hello
how
are

In [237]:
def say_hello(name ='Default'):
    print(f'Hello {name}')

In [238]:
say_hello()

Hello Default

In [239]:
def add_num(num1,num2):
    return num1 + num2

In [242]:
result = add_num(10,20)

In [243]:
result

30

In [248]:
def print_result(a,b):
    print(a+b)

In [249]:
def return_result(a,b):
    return a+b

In [251]:
print_result(10,20)

30

In [252]:
result = print_result(10,20)

30

In [253]:
result

In [254]:
type(result)

NoneType

In [255]:
return_result(10,20)

30

In [256]:
 result = return_result(10,20)

In [257]:
result

30

In [258]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [260]:
result = myfunc(10,20)

30

In [261]:
result

30

In [264]:
def sum_numbers(num1,num2):
    return num1+num2

In [265]:
sum_numbers(10,20)

30

In [266]:
sum_numbers('10','20')

'1020'

In [267]:
# Add Logic to internal functions operations (Functions with Logic)

In [268]:
2 % 2

0

In [269]:
3 % 2

1

In [270]:
41 % 40

1

In [271]:
20 % 2

0

In [272]:
20 % 2 == 0

True

In [273]:
21 % 2 == 0

False

In [274]:
def even_check(number):
    result = number % 2 == 0
    return result

In [276]:
even_check(21)

False

In [277]:
def even_check(number):
    return number % 2 == 0

In [279]:
even_check(20)

True

In [280]:
# Return true if any number is even inside a list

In [285]:
def check_even_lsit(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    return False

In [287]:
check_even_lsit([1,3,5])

False

In [284]:
check_even_lsit([1,2,3,4,5,6,7,8])

True

In [298]:
def check_even_lsit(num_list):
    #return all the even numbers in a list
    #placeholder variable
    even_number = []
    for number in num_list:
        if number % 2 == 0:
            even_number.append(number)
           
        else:
            pass
    return 'There is not even number'

In [299]:
check_even_lsit([1,2,3,4,5])

'There is not even number'

In [300]:
check_even_lsit([1,3,5])

'There is not even number'

In [301]:
#Functions with Tuples umpacking

In [309]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [312]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [314]:
for ticker, price in stock_prices:
    print(price)

200
400
100

In [316]:
work_hours = [('Abby',100),('Billy',400),('Cassy',800)]

In [325]:
def employee_check(work_hours):
    #current max will compare the list with 0
    current_max = 0 
    employee_of_month = ''

    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
             pass

    return(employee_of_month,current_max)

In [329]:
 name,hours = employee_check(work_hours)

In [330]:
name

'Cassy'

In [333]:
#Interactions between Functions

In [334]:
example = [1,2,3,4,5,6,7]

In [335]:
from random import shuffle

In [336]:
# Iam going to shuffle my list
shuffle(example)

In [337]:
# call the list
example

[3, 7, 2, 4, 5, 6, 1]

In [341]:
result = shuffle(example)

In [342]:
result

In [338]:

# We need to create a function called shuffle_list and assign a imput variable
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [339]:
result = shuffle_list(example)

In [340]:
result

[3, 6, 2, 1, 4, 5, 7]

In [343]:
example = [10,20,30,40,50]

In [ ]:
result = shuffle_list(example1)

In [366]:
def shuffle_list(example_list):
    shuffle(example_list)
    return example_list

In [345]:
result = shuffle_list(example)

In [346]:
result

[10, 50, 20, 30, 40]

In [348]:
shuffle(list1)

In [349]:
list1

[40, 60, 70, 30, 50]

In [350]:
results = shuffle(list1)

In [353]:
results

In [354]:
# Step 1 Create a list
list1 = [30,40,50,60,70]

In [355]:
# Step 2 : Create a variable
def shuffle_list1(shuffle_here):
    shuffle(shuffle_here)
    return(shuffle_here)

In [356]:
# Step 3: Create a new "return" variable

result_step1 = shuffle_list1(list1)

In [357]:
result_step1

[50, 30, 60, 70, 40]

In [359]:
shuffle(result_step1)

In [360]:
result_step1

[60, 40, 30, 50, 70]

In [362]:
# Step 1: Create the list
mylist = ['','0','']

In [367]:
#Step 2 : Shuffle the list
shuffle_list(mylist)

['', '', '0']

In [375]:
def player_guess():

    guess =''

    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1 or 2")

    return int(guess)

In [376]:
player_guess()

2

In [378]:
def check_guess(mylist,guess): 
    if mylist[guess] == '0':
        print("Correct")
    else
        print("Wrong guess!")
        print(mylist)

In [397]:
#Inital list
mylist = ['','0','']
#Shuffle List
mixedup_list = shuffle_list(mylist)
#User guess
guess = player_guess()
#check guess
check_guess(mixedup_list,guess)

Wrong guess!
['0', '', '']

In [382]:
my_cities = ['Sagunto','Almenara','Malaga','Canarias']

In [519]:
shuffle(my_cities)

In [520]:
my_cities

['Sagunto', 'Almenara', 'Canarias', 'Malaga']

In [521]:
def mix_cities():
    my_cities = ['Sagunto','Almenara','Malaga','Canarias']
    shuffle(my_cities)
    return my_cities

In [537]:
mix_cities()[0]

'Canarias'

In [514]:
my_cities

['Malaga', 'Sagunto', 'Almenara', 'Canarias']

In [435]:
def player_guess ():
    guess = ''
    while guess not in ('Sagunto','Almenara','Malaga','Canarias'):
        guess = input('Where Cristina will go next year? ')

    return guess

In [436]:
player_guess()

'Sagunto'

In [549]:
def check_answer(city,guess):
    if city == guess:
         print ('Thats correct my friend! ')
    else:
        print (city + ', '+ "That's not gonna happen darling")

In [550]:
# Initial List
my_cities = ['Sagunto','Almenara','Malaga','Canarias']

# Shuffle List
mix_cities()[0]

# User Guess
guess = guess_player()

#Check guess
check_answer(mix_cities()[0],guess)

Sagunto That's not gonna happen darling

In [559]:
# *args and *kwargs

In [560]:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [561]:
myfunc(40,60)

5.0

In [562]:
#What if we want to work with more numbers? Use args

In [563]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [ ]:
myfunc(40,60)

In [564]:
def myfunc(*args):
    return sum (args)*0.05

In [567]:
myfunc(40,60,1020,30)

57.5

In [569]:
def myfunc(*args):
    for item in args:
        print(item)

In [570]:
myfunc(40,60,1020,30)

40
60
1020
30

In [579]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [580]:
myfunc(fruit = 'banana', veggie = 'lettuce')

{'fruit': 'banana', 'veggie': 'lettuce'}
My fruit of choice is banana

In [589]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print ('I would like {} {}'.format(args[0],kwargs['food']))

In [590]:
myfunc(10,20,30,fruit = 'banana',food = 'eggs', animal = 'dog')

(10, 20, 30)
{'fruit': 'banana', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [591]:
#EXAMPLE

In [592]:
def myfunc(*args):
    return sum(args)

In [603]:
def myfunc (*args):
    return sum(args)

In [605]:
myfunc(10,13,15,10)

48

In [623]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [624]:
myfunc(1,2,3,4,5,6,7)

[2, 4, 6]